<div class="jumbotron">
  <h1 class="display-4">Gif it a Chance!</h1>
  <p class="lead"> Welcome, Gif Generator allows you to see the Gifs you want and have them saved as your favorites, so that you can always get back to them when ever you are ready! Gif it a Chance and become a user today. All that is required is a quick sign up and you are ready to Gif all day long. </p>
  <hr class="my-4">
  <p>Please sign up to create your user account or log in if you already have an account.</p>
  <a class="btn btn-primary btn-lg" href="/users/new" role="button">Sign Up</a>
  <a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a>  
</div>